.firstBox{
    width: 380px;
    margin: auto;
    /* border: 0.5px solid lightgray; */
    height: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

.firstInput{
    width: 350px;
    margin: auto;
    border:  1px solid lightgray;
    height: 20px;
}

.firstIframe{
    width: 350px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.firstFlex{
    width: 360px;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    gap: 5px;
}

.fontLast{
    display: flex;
    margin: auto;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.boxLast {
    margin: auto;
    border:1px solid lightgray;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.tempLast{
    font-size: 11px;
}

.dateLast{
    font-size: 11px;
}

.weaLast{
    font-size: 14px;
}

.gif{
    width: 100px;
    /* border: 10px solid ; */
    border-radius: 50%;
    margin-left: 50px;
}